<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- body defining macro -->
  <xacro:macro name="body" params="wheel_radius namespace xyz1 rpy1 prefix1 xyz2 rpy2 prefix2">
    <xacro:include filename="$(find rosbot_description)/urdf/rosbot/components/vl53lox.urdf.xacro" ns="range_sensor" />

    <link name="base_link" />

    <joint name="base_to_body_joint" type="fixed">
      <origin xyz="0.0 0.0 ${wheel_radius}" rpy="0.0 0.0 0.0" />
      <parent link="base_link" />
      <child link="body_link" />
    </joint>

    <link name="body_link">
      <visual>
        <geometry>
          <mesh filename="package://rosbot_description/meshes/rosbot/panda_body.stl" scale="0.001 0.001 0.001" />
        </geometry>
        <!-- <geometry>
          <box size="0.221 0.103 0.09" />
        </geometry> -->
        <origin xyz="-0.02761 0.0 0.0114" rpy="3.141 0.0 0.0" />
        <material name="Black">
          <color rgba="0.1 0.1 0.1 1.0" />
        </material>
        <gazebo reference="body_link">
          <material>Gazebo/Black</material>
        </gazebo>
      </visual>

      <collision>
        <geometry>
          <box size="0.221 0.103 0.09036" />
        </geometry>
        <origin xyz="-0.02434 0 0.02922" rpy="0.0 0.0 0.0" />
      </collision>

      <inertial>
        <mass value="0.916" />
        <inertia ixx="0.001019" ixy="0.000062"     ixz="-0.000127"
                                iyy="0.003027"        iyz="-0.000029"
                                              izz="0.003307" />
        <origin xyz="-0.02706 0.00089 0.03205" rpy="0.0 0.0 0.0" />
      </inertial>
    </link>

    <joint name="body_to_imu_joint" type="fixed">
      <origin xyz="0.02258 0.02495 0.07329" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="imu_link" />
    </joint>

    <link name="imu_link" />

    <joint name="body_to_camera_joint" type="fixed">
      <origin xyz="0.06087 0.0 0.10240" rpy="0.0 0.0 0.0" />
      <parent link="body_link" />
      <child link="camera_mount_link" />
    </joint>

    <link name="camera_mount_link" />

    <xacro:range_sensor.vl53lox parent="body_link" xyz="${xyz1}"   rpy="${rpy1}"  prefix="${prefix1}" namespace="${namespace}" />
    <xacro:range_sensor.vl53lox parent="body_link" xyz="${xyz2}"   rpy="${rpy2}"  prefix="${prefix2}" namespace="${namespace}" />

  </xacro:macro>
</robot>
