<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- vl53lox defining macro -->
  <xacro:macro name="vl53lox" params="parent xyz rpy prefix namespace">

    <xacro:property name="ns" value="${namespace + '/' if namespace != '' else ''}" />

    <joint name="${parent}_${prefix}_range_joint" type="fixed">
      <origin xyz="${xyz}" rpy="${rpy}" />
      <parent link="${parent}" />
      <child link="${prefix}_range" />
    </joint>

    <link name="${prefix}_range" />

    <!-- an IR sensor or a sonar are not implemented yet
    https://github.com/gazebosim/gz-sensors/issues/19 -->
    <gazebo reference="${prefix}_range">
      <sensor name="${ns}${prefix}_range" type='gpu_lidar'>

        <topic>/${ns}_range_${prefix}</topic>
        <gz_frame_id>${prefix}_range</gz_frame_id>
        <visualize>true</visualize>
        <!-- <update_rate>0.518</update_rate> -->
        <update_rate>10</update_rate>
        <lidar>
          <scan>
            <horizontal>
              <samples>46</samples>
              <resolution>1</resolution>
              <min_angle>-1.57</min_angle>
              <max_angle>1.57</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>0.03</min>
            <max>1.2</max>
            <resolution>0.001</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0</mean>
            <stddev>0.03</stddev>
          </noise>
        </lidar>
        <always_on>true</always_on>
        <visualize>true</visualize>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
